.body {
    display:flex;
    flex-direction:column;
    
}
.header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:#1F2937;
    color:white;
    font-family:Arial;
    
    
}
.links {
    display:flex; 
    gap:50px;
    align-items: center;
    
}
.main, .links {
    margin: 0 80px;
}
a {
    width: 100px;
    text-decoration:none;
    color:white;
}
.c2 {
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:#1F2937;
    color:white;
    font-family:Arial;
    
    
}
.c2 .title {
    margin:0px 80px;
    margin-top:60px;
    margin-bottom:15px;
    font-size:48px;
    font-weight:800;
    color:#F9FAF8;
    width:400px;

}
.s2 {
    display:flex;
    flex-direction:column;    
}
.c2 .secondary {
    margin:0px 80px;
    font-size:18px;
    width:500px;
    color:#E5E7EB;
}
.c2 .s2 button {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 80px;
    width:90px;
    height:30px;
    font-size:14px;
    background-color:#3882F6;
    color:white;
    border-radius:6px;
    margin-top:15px;
    margin-bottom:80px;
}
.c2 img {
    display:flex;
    margin-right:100px;
}
.container2 {
    display:flex;
    flex-direction:column; 
    align-items:center;
    margin:30px 0px;
}
.animals {
    display:flex;
    gap:30px;
}
.animals div {
    margin:30px 0px;
    font-family:Arial;
    font-size:18px;
}
.a1 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.a2 {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.a3 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.a4 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.animals img {
    width:200px;
    height:130px;
    border: 5px solid #3882F6;
    border-radius:6px;
}
.info1 {
    font-size:36px;
    font-weight: 800;
    color:#1F2937;
}
.container3 {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:30px;
    background-color:#E5E7EB;
    
}
.container3 .q1 {
    margin-top:40px;
    font-size:36px;
    font-style:italic;
    color:#1F2937;
}
.container3 .q2 {
    margin-bottom:40px;
    font-family:arial;
}
.container4 {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#3882F6;
    margin:50px 130px;
    height:90px;
    color:white;
    border-radius:6px;

}
.m1 {
    display:flex;
    gap:150px;
    align-items:center;
    flex:1;
    justify-content:center;
}
.n1 {
    display:flex;
    flex-direction:column;
}
.b1 {
    font-weight:800;
    font-size:18px;
}

.m1 button {
    background-color:#3882F6;
    border-radius:6px;
    color:white;
    border: 1px solid white;
    height:25px;
    
}

